<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/jquery-3.7.1.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
</head>
<body>
    <nav class="navbar">
        <ul class="nav-list">

            <!-- only display if group is correct -->
            <% if (user && user.role === 'admin') { %>
                <li><a href="/admin">Admin</a>
            <% } else { %>
                <li><a href="/">Home</a></li>
                <li><a href="/">Cellars</a></li>
                <li><a href="/wines/listAll">View Your Wines</a>
            <% } %>
            <li><a href="/auth/playResetPassword">Reset Password</a> 
            <li><a href="/auth/logout">Logout</a>

        </ul>
    </nav>
    <main>

    <% if (typeof message !== 'undefined') { %>
        <p class="message" id="message"><%= message %></p>
    <% } %>

    <% if (user && user.role === 'users') { %>
    <!-- user cellars -->
    <main>
        <section>
            <aside>
            <div class="dialog" id="cellars">   
                <h1>Cellars</h1>
                <ul>
                <% if (cellarResults && cellarResults.length) { %>
                <% cellarResults.forEach(item => { %>
                    <div class="winelist" id="cellar_<%= item.cellar_id %>">
                        <li><a href="/cellar/listCellarWine/<%= item.cellar_id %>?name=<%= item.name %>"><%= item.name %>: <%= item.description %></a>
                        <div onclick="deleteCellar('<%= item.cellar_id %>')" class="close-icon"></div></li>
                    </div>
                <% }); %>
                <% }; %>
                </ul>
            </div>
            
            <button onclick="openAddCellarPopup()">Add Cellar</button>
            
           <div class="dialog">
               <div id="addCellarPopup" class="popup">
                   <h2>Add Cellar</h2>
                   <div class="popup-content">
                        <a href="#" onclick="closeAddCellarPopup()" class="close-icon"></a>
                        <form action="/cellar/addCellar" method="post">
                            <label for="newCellarName">Cellar Name:</label>
                            <input type="text" id="newCellarName" name="newCellarName" required>
               
                            <br>
               
                            <label for="newCellarDesc">Description:</label>
                            <input type="text" id="newCellarDesc" name="newCellarDesc" required>
                            <br>   
                        
                            <input type="submit" value="Go!">
                        </form>
                   </div>
               </div>
           </div>
       
        </aside>
    </section>
    <% } %>
</main>
    <br>
    
    <br>
    

    <script>
        function openAddCellarPopup() {
            document.getElementById("addCellarPopup").style.display = "block";
        }

        function closeAddCellarPopup() {
            document.getElementById("addCellarPopup").style.display = "none";
        }

        function deleteCellar(cellarId) {
            fetch('/cellar/delete/' + cellarId, {
                method: 'DELETE',
            })
            .then(response => {
                if (response.ok) {
                    // Handle success
                    console.log('cellar deleted successfully');
                    // Optionally, update the UI or perform any other actions
                    document.getElementById('cellar_' + cellarId).remove(); // Remove the comment from the DOM
                } else {
                    // Handle error
                    console.error('Failed to delete cellar');
                }
            })
            .catch(error => {
                // Handle network error
                console.error('Network error:', error);
            });
        }


    </script>

</body>
</html>
